@import '../../styles/vars';

.HeroBanner {

    &--textbox {
        color: #f5f5f5;
        background-color: darkslateblue;
        height: 50vh;
        display: flex;
       flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 100px;
        object-fit: cover;
        text-align: center;


        &--primary {
            text-transform: uppercase;
        
            backface-visibility: hidden;
            margin-bottom: 5rem;

        }

    }

}

.HeroBanner--primary {
    &--main {
        
        display: block;
        font-size: 3.5rem;
        font-weight: 500;
        letter-spacing: .7rem;
    }

    &--sub {
        display: block;
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: .5rem;
    }
    &--sub2 {
        display: block;
        font-size: 1.5rem;
        font-weight: 400;
        letter-spacing: .2rem;
        margin-top: .5rem;
    }
}


    
    //global btn style, move to more aequate place
    .btn {
        &:link, 
        &:visited {
            display: inline-block;
            transition: all .2s;
        }
        
        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 10px 20px rgba(black,.2);
        }
        
        &:active{
            transform: translateY(-1px);
            box-shadow: 0 5px 10px rgba(black,.2);
        }
        
        &--white {
        border-radius: 10rem;
        background-color: #f5f5f5;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1rem 1.5rem;
        color: $light-purple;
        margin-top: 15px;
    }
        &--white:hover {
            background-color: $dark-purple;
        }
        
    }