@import '../../styles/vars';

.HeroBanner {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    

    &--textbox {
        color: papayawhip;
        height: 100vh;
        display: flex;
       flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 100px;
        object-fit: cover;
        text-align: center;


        &--primary {
            text-transform: uppercase;
        
            backface-visibility: hidden;
            margin-bottom: 5rem;

        }

    }

}

.HeroBanner--primary {
    &--main {
        
        display: block;
        font-size: 3.5rem;
        font-weight: 400;
        letter-spacing: .7rem;
        animation: moveInLeft 1s ease-out;
    }

    &--sub {
        display: block;
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: .5rem;
        animation: moveInRight 1s ease-out;
    }
    &--sub2 {
        display: block;
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: .2rem;
        margin-top: .5rem;
        //animation: moveInRight 1s ease-out;
    }
}

@media (min-width: $sm-max ) {
    .HeroBanner {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
   
        &--textbox {
            height: 100vh;
            justify-content: center;
            align-items: center;
            text-align: center;
    
    
        }
    }

    
}
    
    //global btn style, move to more aequate place
    .btn {
        &:link, 
        &:visited {
            display: inline-block;
            transition: all .2s;
        }
        
        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 10px 20px rgba(black,.2);
        }
        
        &:active{
            transform: translateY(-1px);
            box-shadow: 0 5px 10px rgba(black,.2);
        }
        
        &--white {
        border-radius: 10rem;
        background-color: white;
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        color: $light-purple;
        margin-top: 15px;
    }
        &--white:hover {
            background-color: $dark-purple;
        }
        
    }