$dark-purple: #424874;
$light-purple: #a6b1e1;
$pastel: #dcd6f7;
$light-pastel: #F4EEFF;
$background-color: #f5f5f5;
$main-font: #414141;

$sm-max: 767px;
$md-min: 768px;
$md-max: 991px;
$lg-min: 992px;
$xl-min: 1200px;