@import '../../styles/vars';

.About {
    margin-bottom: 100px;
    //padding-bottom: 20px;
    padding-top: 35px;
    background-image: linear-gradient(white, $background-color);
    margin-top: -5px;

    &-wrapper {
        display: flex;
        justify-content: space-between;

        
        @media (max-width: $sm-max) {
            flex-direction: column;
            text-align: center;
            //height: 400px;

        }

    }

    &-certs {
        max-width: 50vw;
        width: 200px;
        height: 100%;
        margin: 0 auto;
        max-height: inherit;
        display: flex;
        align-self: center;
        flex-direction: column;
        justify-content: center;
      

        & img {
            height: inherit;
            width: inherit;
            padding: 10px 0;
           // margin: 0 auto;

           &:hover {
            transform: translateY(-2px);
           // box-shadow: 0 10px 20px rgba(black,.2);
          }
        }
    }

    &-text { 
       // padding: 10px;
        margin-bottom: 20px;
      //  max-width: 80%;

      

        h2 {
          //  width: 85%;
            margin-bottom: 10px;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 35px;
            line-height: 1.1;
          //  padding-left: 10px;
        }

        p {
           text-align: initial;
          
            font-weight: 400;
            font-size: 16px;
            line-height: 2;
           // padding-right: 25px;
        }     
    }
    &-list {
        display: block;
  width:100%;
  height:100%;
  border-radius: 10px;
  border: 1px dotted $dark-purple;
  background-color: $pastel;
        text-align: center;
        margin: 5px;
        
        & li {
            list-style: none;
           // display: inline-block;
        //  padding-left: 20px;
            font-weight: 400;
            font-size: 16px;
            line-height: 2;
            margin: 5px;
           // max-width: 20%;
        }
        &:hover {
            color: $dark-purple;
        }
        h4 {
            margin: 10px;
        }
    }

    &-education {
     //   padding-top: 20px;

        h4{
            //padding-left: 10px;
            margin-bottom: 10px;
        }
        

        &-xs {
            font-size: 65%;
        }
    }
}