@import '../../styles/vars';

.About {
    margin-bottom: 100px;
    //padding-bottom: 20px;
    padding-top: 35px;
    background-image: linear-gradient(white, $background-color);
    margin-top: -5px;

    &-wrapper {
        display: flex;
        justify-content: space-between;

        
        @media (max-width: $sm-max) {
            flex-direction: column;
            text-align: center;
            //height: 400px;

        }

    }

    &-certs {
        max-width: 50vw;
        width: 200px;
        height: 100%;
        margin: 0 auto;
        max-height: inherit;
        display: flex;
        align-self: center;
        flex-direction: column;
        justify-content: center;
      

        & img {
            height: inherit;
            width: inherit;
            padding: 10px 0;
           // margin: 0 auto;

           &:hover {
            transform: translateY(-2px);
           // box-shadow: 0 10px 20px rgba(black,.2);
          }
        }
    }

    &-text { 
        padding-right: 20px;

      

        h2 {
            width: 85%;
            margin-bottom: 10px;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 35px;
            line-height: 1.1;
        }

        p {
           
            font-weight: 400;
            font-size: 16px;
            line-height: 2;
            padding-right: 25px;
        }     
    }
    &-list {
        &:hover {
            color: $dark-purple;
        }
        h4 {
            margin-bottom: 10px;
        }
    
        ul {
          
        padding-left: 20px;
        font-weight: 400;
            font-size: 16px;
            line-height: 2;  
        }
    }

    &-education {
     //   padding-top: 20px;

        h4{
            margin-bottom: 10px;
        }
        

        &-xs {
            font-size: 65%;
        }
    }
}